refereed_works/*.doc
refereed_works/*.docx
refereed_works/*.odt
refereed_works/joinPDF script.txt
refereed_works/blankpage.pdf
refereed_works/PRIB'07 copyright.pdf
refereed_works/*Review Comments.*
refereed_works/*CTF.pdf
maurice_resume.docx
abstracts_and_technical_reports/*.docx
refereed_works/[53] Resource calculator license.pdf
refereed_works/[53] Resource calculator data.xlsx
