refereed_works/*.doc
refereed_works/*.docx
refereed_works/*.odt
refereed_works/*.ppt
refereed_works/*.pptx
refereed_works/*.xls
refereed_works/*.xlsx
refereed_works/joinPDF script.txt
refereed_works/blankpage.pdf
refereed_works/*copyright.pdf
refereed_works/*Review*.*
refereed_works/*Acceptance.*
refereed_works/*CTF.pdf
refereed_works/*COI*.*
refereed_works2/*Review*.*
refereed_works2/*Acceptance.*
maurice_resume.docx
abstracts_and_technical_reports/*.docx
abstracts_and_technical_reports/*.pptx
abstracts_and_technical_reports/*.mp4
abstracts_and_technical_reports/*Acceptance.*
datasets/Environment to Intracellular Metabolites.zip
*.dropbox.attr
/CV Maurice.pdf
/List of Advised Undergraduate and Postgraduates.docx
/maurice_CV.docx
/maurice_CV_abbreviated.docx
/sample - statement addressing requirements.pdf
/Mastery Rubric for Bioinformatics (MR-Bi).docx
/Publications Edited in Frontiers.docx
/Publications with Northumbria University Biomedical Science Students.docx
/Publications with Northumbria University Biotechnology Students.docx
/Publications with Temasek Polytechnic Students.docx
/Temasek Polytechnic Students Linkedin Recommendations.docx
Maurice’s Publication Under TP for 2020-2022.docx

